@font-face{
	font-family: 'Roboto';
	src: url("../fonts/Roboto.ttf") format("truetype");
}
@font-face{
	font-family: 'Myriad';
	src: url("../fonts/Myriad_pro.ttf") format("truetype");
}
@font-face{
	font-family: 'Bebas';
	src: url("../fonts/Bebas.ttf") format("truetype");
}
.roboto{
    font-family: 'Roboto';
}
.myriad{
    font-family: 'Myriad';
}
.bebas{
    font-family: 'Bebas';
}
body{
    margin-top: 70px;
}
.navbar, .navbar-header{
    min-height: 70px;
}
.navbar-inverse .navbar-nav > li > a{
    color: white;
}
.navbar-brand{
    padding-top: 5px;
    margin-top: 0;
}
.navbar-img{
    height: 60px;
}
.navbar-nav>li{
    font-weight: bold;
    font-size: 18px;
}
.navbar-nav>li>a{
    padding-top: 27px;
}
.navbar button{
    margin: 18px;
}
.bg-rojo{
    color: white;
    background-color: #e53935;
    padding-top: 30px;
    padding-bottom: 30px;
}
.bg-gris{
    background-color: #f5f5f5;
}
.bg-azul{
    background-color: #0d47a1;
    color: white;
}
.bg-amarillo{
    background-color: #ffc400;
    color: black;
}
.bg-gris-oscuro{

}
.carousel{
    margin-bottom: 0px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
h2{
    font-size: 30px;
    font-family: 'Bebas';
}
#inicio-seccion2 p{
    font-size: 2em;
}
.lst-trabajos{
    font-size: 1.5em;
    list-style: none;
}
footer{
    background-color: #424242;
    color: white;
}
