body{
    font-family: 'Arial';
}
button.navbar-toggle {
    padding: 0px;
}
.navbar-inverse{
    background: rgba(0,0,0,9);
    color: white;
}

.btn-logo {
    max-height: 30px;
}

.parallax {
    height: 1000px;  
    margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    box-shadow: 0 0 0px rgba(0,0,0,0.8);
}

#inicio { 
	background: url(../img/1.jpg) 50% 0 no-repeat fixed; 
    padding-top:150px;
}
	
#carac1 { 
	background: url(../img/2.jpg) 50% 0 no-repeat fixed; 
}
#carac2 { 
    background: url(../img/3.jpg) 50% 0 no-repeat fixed; 
}
#carac3 { 
    background: url(../img/4.jpg) 50% 0 no-repeat fixed; 
}
#carac4 { 
    background: url(../img/5.jpg) 50% 0 no-repeat fixed; 
}

.fondotexto{
    background-color: #c0392b;
    min-height: 400px;
    text-align: center;
    color:white;
}
.frase{
    margin-top: 25%;
    font-weight: bold;
}
#textoportada{
    min-height: 400px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    color: white;
    background-color: rgba(0,0,0,.6);
}
.navbar{
	margin-bottom: 0px;
}

h1{
    font-size: 36px;
    font-family: 'Bubblegum Sans', cursive;
    opacity:1;
    margin-top: 20px;
}
h3{
    font-family: 'Bubblegum Sans', cursive;
}

p{
    font-size: 22px;
    font-family: 'Lato',sans-serif;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
#textoportada>h1{
    /*text-shadow: 1px 1px #000;*/
    font-weight: bold;
    font-size: 5em;
    padding-top: 5%;
}
.btn-success{
    background: #561d7d;
    border: #561d7d;
}
.social{
    font-size: 1.5em;
    padding: 5px;
}    
/*/carousel

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
